:root {
  --Moderatecyan: hsl(176, 50%, 47%);
  --Darkcyan: hsl(176, 72%, 28%);
  --Black: hsl(0, 0%, 0%);
  --Darkgray: hsl(0, 0%, 48%);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Commissioner", sans-serif;
}

div.container button.cyanbtn,
button.modalcyanbtn {
  color: white;
  background-color: var(--Moderatecyan);
  padding: 18px 40px;
  font-weight: bold;
  border: none;
  border-radius: 38px;
  word-spacing: 2px;
}

div.container button.cyanbtn:hover {
  cursor: pointer;
  background-color: var(--Darkcyan);
}

div.modal button.modalcyanbtn:hover {
  cursor: pointer;
  background-color: var(--Darkcyan);
}

div.box1 {
  height: 350px;
  background-image: url(/images/image-hero-mobile.jpg);
  background-size: 100%;
}

div.box1 #logo {
  position: absolute;
  left: 22px;
  top: 25px;
}

div.container #ham {
  display: block;
  margin-left: auto;
  padding-top: 30px;
  padding-right: 24px;
  background-color: transparent;
  border: none;
  z-index: 100;
}

div.container #closeham {
  display: block;
  margin-left: auto;
  padding-top: 30px;
  padding-right: 24px;
  background-color: transparent;
  border: none;
  display: none;
}

/* div.menu {
  display: none;
} */

div.box1 .menu ul#menu {
  background-color: #fff;
  list-style: none;
  width: 55%;
  border-radius: 5px;
  position: absolute;
  left: 70px;
  z-index: 2;
  /* transition: all ease-in-out 2s ; */
  display: none;
}

div.box1 .menu hr.menuhr {
  height: 0.5px;
  margin-top: 10px;
  border: none;
  background-color: hsl(0, 0%, 35%, 0.5);
}

div.box1 .menu ul li a {
  text-decoration: none;
  color: var(--Black);
  line-height: 75px;
  font-weight: bold;
  font-size: 20px;
}

div.box2 {
  background-color: white;
  height: 350px;
  width: 70%;
  margin: auto;
  border: 1.8px solid whitesmoke;
  padding: 5px 20px;
  position: relative;
  bottom: 50px;
  border-radius: 10px;
  /* display: flex;
  flex-direction: column; */
}

div.box2 #masterlogo {
  display: block;
  margin: auto;
  position: relative;
  bottom: 35px;
}

div.box2 h2 {
  width: 90%;
  text-align: center;
  font-weight: bold;
}

div.box2 p {
  text-align: center;
  color: var(--Darkgray);
  line-height: 25px;
}

div.box2 button {
  position: relative;
  left: 15px;
}

div.box2 #bookmark {
  position: relative;
  top: 22px;
  left: 50px;
}

div.stats {
  height: 350px;
  background-color: white;
  width: 70%;
  margin: 25px auto;
  border: 1.8px solid whitesmoke;
  padding: 5px 20px;
  position: relative;
  bottom: 50px;
  border-radius: 10px;
}

div.stats h1 {
  text-align: center;
}

div.stats p {
  text-align: center;
  color: var(--Darkgray);
}

div.stats hr {
  width: 50%;
  height: 0.5px;
  margin-top: 10px;
  border: none;
  background-color: hsl(0, 0%, 35%, 0.5);
}

div.stats hr#cyanhr {
  background-color: var(--Moderatecyan);
  border-radius: 15px;
  width: 90%;
  height: 10px;
}

div.box4main {
  background-color: white;
  width: 70%;
  margin: 25px auto;
  border: 1.8px solid whitesmoke;
  padding: 5px 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.box4main h3#about {
  text-align: left;
  font-weight: bold;
}

div.box4main p {
  color: var(--Darkgray);
  text-align: left;
  line-height: 25px;
  font-size: 14px;
  margin-top: 25px;
}

.box4main .aboutp {
  width: 90%;
}

div.box4mainA {
  background-color: white;
  width: 70%;
  margin: 25px auto;
  border: 2.5px solid whitesmoke;
  padding: 5px 20px;
  border-radius: 10px;
  position: relative;
  /* flex: 1; */
}

div.box4mainB {
  background-color: white;
  width: 70%;
  margin: 25px auto;
  border: 2.5px solid whitesmoke;
  padding: 5px 20px;
  border-radius: 10px;
  position: relative;
  /* flex: 1; */
}

div.box4mainC {
  background-color: white;
  width: 70%;
  margin: 25px auto;
  border: 2.5px solid whitesmoke;
  padding: 5px 20px;
  border-radius: 10px;
  opacity: 0.5;
  position: relative;
  /* flex: 1; */
}

div.box4main h1 {
  display: inline;
}

div.box4main span.left {
  color: var(--Darkgray);
  position: relative;
  left: 10px;
  bottom: 7.5px;
}

div.box4main button.cyanbtn {
  margin-bottom: 12px;
  margin-top: 20px;
}

div.box4mainC span.left,
div.box4mainC h1 {
  position: relative;
  bottom: 15px;
}

div.box4mainC button.greybtn {
  color: white;
  background-color: var(--Darkgray);
  padding: 18px 40px;
  font-weight: bold;
  border: none;
  border-radius: 38px;
  word-spacing: 2px;
  margin-bottom: 30px;
  position: relative;
  top: 35px;
  right: 50px;
}

/* modal designing starts here  */

div#modal-bg {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 400%;
  /* z-index: 0; */
  display: none;
}

div#modal {
  background-color: white;
  width: 70%;
  border: 1.8px solid whitesmoke;
  padding: 5px 20px;
  border-radius: 10px;
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
  display: none;
}

div#modal input.check::after {
  /* background-color: var(--Moderatecyan); */
  position: relative;
  right: 8px;
}

/* div#modal input.check:checked::after{
  background-color: var(--Moderatecyan);
} */

div#modal #closemodal {
  background-color: transparent;
  border: none;
  display: block;
  margin-left: auto;
  margin-top: 20px;
}

div.bothbtn {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  /* align-items: center; */
}

div#modal .modalcyanbtn,
div#modalsuccess #gotit,
div#modal .modalcyanbtn-disabled {
  color: white;
  background-color: var(--Moderatecyan);
  padding: 10px 25px;
  font-weight: bold;
  border: none;
  border-radius: 40px;
  word-spacing: 2px;
  position: relative;
  left: 20px;
}

div#modal button.modalcyanbtn:hover,
div#modalsuccess #gotit:hover {
  cursor: pointer;
  background-color: var(--Darkcyan);
}

div#modal span.enterpledge {
  display: block;
  text-align: center;
  margin-top: 20px;
  color: var(--Darkgray);
}

div#modal button.amt {
  color: black;
  background-color: white;
  /* padding: 14px 36px; */
  padding: 10px 20px;
  font-weight: bold;
  border: 2px solid whitesmoke;
  border-radius: 38px;
  word-spacing: 2px;
}

button.amt span {
  color: var(--Darkgray);
}

button.amt input.inneramt {
  color: black;
  border: none;
  background-color: transparent;
  font-weight: bold;
  font-size: 16px;
}

div#modal p {
  color: var(--Darkgray);
  line-height: 25px;
}

div.modal1 {
  background-color: white;
  width: 70%;
  margin: 25px auto;
  border: 2.5px solid whitesmoke;
  padding: 5px 20px;
  border-radius: 10px;
}

.modal1tog {
  border: 2.5px var(--Moderatecyan);
}

div.modal2 {
  background-color: white;
  width: 70%;
  margin: 25px auto;
  border: 2.5px solid whitesmoke;
  padding: 5px 20px;
  border-radius: 10px;
}

div.modal2tog {
  border: 2.5px solid var(--Moderatecyan);
}

div.modal3 {
  background-color: white;
  width: 70%;
  margin: 25px auto;
  border: 2.5px solid whitesmoke;
  padding: 5px 20px;
  border-radius: 10px;
}
div.modal3tog {
  border: 2.5px solid var(--Moderatecyan);
}

div.modal4 {
  background-color: white;
  width: 70%;
  margin: 25px auto;
  border: 2.5px solid whitesmoke;
  padding: 5px 20px;
  border-radius: 10px;
  opacity: 0.5;
}

div.modal4tog {
  border: 2.5px solid var(--Moderatecyan);
}

div#modal div.pledgesection1,
.pledgesection2,
.pledgesection3 {
  display: none;
}

.pledge-section-appear {
  display: block;
}

div#modal .modal2 hr {
  width: 100%;
  height: 0.5px;
  background-color: var(--Darkgray);
}

div#modal span.left {
  color: var(--Darkgray);
  position: relative;
  bottom: 40px;
  left: 35px;
}

span.pledge {
  margin-top: 5px;
  color: var(--Moderatecyan);
  font-weight: bold;
}

/* modalsuccess page design start here . */

/* div#successscr {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 400%;
   z-index: 0; 
  display: none;
} */

div#modalsuccess {
  background-color: white;
  width: 70%;
  margin: 25px auto;
  border: 2.5px solid whitesmoke;
  padding: 5px 20px;
  border-radius: 10px;
  z-index: 4;
  position: fixed;
  top: 200px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: none;
}

div#modalsuccess h3 {
  text-align: center;
}

div#modalsuccess p {
  color: var(--Darkgray);
  text-align: center;
}

div#modalsuccess #tick {
  display: block;
  margin: auto;
}

div#modalsuccess #gotit {
  display: block;
  margin: auto;
}

@media screen and (min-width: 768px) {
  div.box1 {
    background-image: url(/images/image-hero-desktop.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
  }

  div.container #ham {
    display: none;
  }

  div.container #closeham {
    display: none;
  }

  div.box1 .menu ul#menu {
    display: flex;
    width: 50%;
    right: 0;
    margin-left: auto;
    margin-right: 50px;
    height: 50px;
    background-color: transparent;
    align-items: center;
    justify-content: space-evenly;
  }

  div.box1 .menu ul#menu li a {
    color: white;
  }

  div.box2 img#bookmark {
    display: none;
  }

  div.box2 button#mediabookmark img {
    position: relative;
    right: 8px;
  }
  div.box2 button#mediabookmark {
    background-color: hsl(0, 0%, 48%, 0.2);
    border: none;
    color: var(--Darkgray);
    font-weight: bolder;
    border-radius: 38px;
    display: flex;
    margin-left: auto;
    height: 56px;
    align-items: center;
    position: relative;
    bottom: 55px;
  }

  div.box4mainA button.mediacyanbtn,
  div.box4mainB button.mediacyanbtn
   {
    position: absolute;
    right: 10px;
    bottom: 1px;
  }
}

@media screen and (max-width: 768px) {
  div.box2 button#mediabookmark {
    display: none;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
